.section-course-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 2rem 0;
}
.article-course-title {
  display: grid;
  justify-items: center;
  align-items: center;
  max-width: 500px;
  min-width: 300px;

  & h1 {
    margin-bottom: 1rem;
  }
}
.section-bases {
  display: grid;
  justify-content: center;
  gap: 3rem;
  padding: 2rem 0;
}
.course-figure-background {
  position: relative;
  max-width: 500px;
  min-width: 300px;
  max-height: 180px;
  min-height: 100px;
  margin-top: 3rem;
  padding: .8rem 0 1rem;
  background-color: var(--tertiary-color);
  & h3 {
    margin-top: 2rem;
  }
}
.figure-course-logo {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: auto;
}
.figure-course-navigation-button {
  transition: transform .2s ease-in;
}
.figure-course-navigation-button:hover {
  transform: scale(110%, 110%);
}
.figure-course-navigation {
  width: 30px;
  height: 30px;
}
.figure-description-wrapper {
  display: grid;
  grid-template-columns: 1fr 50px;
  grid-template-rows: 1fr;

  & p {
    margin-top: .8rem;
    font-size: var(--font-small);
  }

  & button {
    align-self: flex-end;
  }
}
.figure-description-article {
  padding: .5rem 0 0 1rem;
}
