.home-page {
  padding: 20px;
}

.home-page-title {
  padding: 50px;
  text-align: center;
}

.home-page-subtitle {
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
}

@media (min-width: 769px) {
  .home-page-subtitle {
    padding-bottom: 20px;
    text-align: start;
    padding-left: 100px;
  }
}
