.main-form-login {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  min-height: 100vh;
  margin: 3rem 0;
}
.main-form-login label {
  display: block;
  margin: 1.125rem 0 .8rem;
}
@media screen and (min-width: 768px) {
  .form-login-container {
    /* width: 600px; */
  }
}
