.carousel-wrapper {
  position: relative;
  padding-bottom: 30px;
}

.carousel-container {
  position: relative;
  overflow: hidden;
  overflow-x: auto;
  width: 336px;
  margin: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.carousel-track {
  display: flex;
  transition: transform 500ms ease-in-out; /* Transition  entre les slides */
  align-items: center;
  justify-content: flex-start;
}

.carousel-slide {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  padding: 9px;
}

.carousel-arrows {
  display: flex;
  justify-content: space-between;
}

.carousel-arrow {
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  top: 100%;
  left: 2rem;
  display: none; /* hide arrows in mobile since we have the scroll snap feature*/
}

.carousel-arrow.next {
  left: auto;
  right: 2rem;
}

.carousel-arrow:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.rounds-decoration {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  width: 300px;
  margin: auto;
  padding-bottom: 30px;
}

.little-round-1 {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: solid 1.5px var(--accent-color-1);
}

.little-round-2 {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: solid 2px var(--accent-color-1);
}

.big-round {
  width: 20px;
  height: 20px;
  border: solid 3px transparent;
  background: linear-gradient(var(--primary-color), var(--primary-color))
    padding-box, linear-gradient(var(--accent-color-2), var(--accent-color-1))
    border-box;
  border-radius: 50%;
}

.little-round-3 {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: solid 2px var(--accent-color-2);
}

.little-round-4 {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: solid 1.5px var(--accent-color-2);
}

.filled-circle-dark {
  background: var(--accent-color-1);
}

.filled-circle-gradient {
  background: radial-gradient(var(--accent-color-2), var(--accent-color-1));
}

.filled-circle-light {
  background: var(--accent-color-2);
}

@media (min-width: 769px) {
  .carousel-wrapper {
    padding: 2rem;
  }

  .carousel-container {
    width: calc(100% - 120px);
    margin: auto;
    overflow-x: hidden;
  }

  .carousel-arrow {
    display: block;
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
  }

  .carousel-arrow.next {
    left: auto;
    right: 1rem;
  }

  .carousel-slide {
    scroll-snap-align: initial;
    scroll-snap-stop: initial;
  }

  .rounds-decoration {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin: auto;
  }

  .little-round-1 {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: solid 2px var(--accent-color-1);
  }

  .little-round-2 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: solid 3px var(--accent-color-1);
  }

  .big-round {
    width: 31px;
    height: 31px;
    border: solid 4px transparent;
    background: linear-gradient(var(--primary-color), var(--primary-color))
      padding-box, linear-gradient(var(--accent-color-2), var(--accent-color-1))
      border-box;
    border-radius: 50%;
  }

  .little-round-3 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: solid 3px var(--accent-color-2);
  }

  .little-round-4 {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: solid 2px var(--accent-color-2);
  }
}
