.video-player-page {
  margin: auto;
}

.video-player-page h1 {
  text-align: center;
  padding: 36px;
}

.cta-btn-wrapper {
  width: 375px;
  margin: auto;
}

.cta-btn-wrapper button {
  margin: 10px;
}

.current-video {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  gap: 8px;
}

.current-video video {
  width: 100vw;
  margin: auto;
}

.description-video {
  padding: 0 20px 20px 20px;
}

.description-video p {
  padding-top: 8px;
}

.buttons-video-container {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.category-video {
  padding: 100px 20px 20px 36px;
}

.category-video h2 {
  padding-bottom: 36px;
  margin: auto;
  width: 100%;
}

@media screen and (min-width: 695px) {
  .current-video {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  .description-video {
    padding: 0 20px 20px 36px;
  }
}

@media screen and (min-width: 786px) {
  .current-video {
    max-width: 1024px;
    margin: auto;
    justify-content: center;
  }

  .current-video video {
    max-width: 1024px;
  }

  .buttons-video-container {
    max-width: 1024px;
    margin: auto;
    justify-content: flex-end;
    padding: 60px;
  }
}

@media screen and (min-width: 1164px) {
  .category-video {
    padding: 150px 106px 44px 106px;
  }
}
