.video-card {
  width: 300px;
  background: var(--tertiary-color);
  border-radius: 8px;
  box-shadow: 0 2px 6px var(--shadow-color);
}

.video-item {
  width: 300px;
  height: 168px;
  text-align: center;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.video-thumbnail {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
}

.video-thumbnail.with-border-radius {
  border-radius: 8px;
}

.video-card-large {
  width: 100%;
}

.video-card-large .video-item {
  width: 100%;
  height: auto;
}

.card-content {
  height: 168px;
  background: #414141;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.video-card-large .card-content {
  height: auto;
}

.video-title {
  font-size: 12px;
  width: 150px;
}

.time {
  font-size: 12px;
}

.card-footer {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.first-row-card-footer {
  display: flex;
  justify-content: space-between;
}

.time-video-wrapper {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
}

.clock-icon {
  width: 24px;
  height: 24px;
}

.heart-icon {
  align-self: flex-end;
  width: 33px;
  height: 33px;
}

.skeleton-card {
  min-width: 300px;
  height: 245px;
  background-color: var(--tertiary-color);
  border-radius: 8px;
  box-shadow: 0 2px 6px var(--shadow-color);
}
